RewriteEngine On
RewriteBase /online-pgdm-pune/

# Set default index files
DirectoryIndex index.php index.html index.htm

# Allow existing files and folders (VERY IMPORTANT)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect remaining requests to index.php
RewriteRule ^(.*)$ index.php/$1 [L]