RewriteEngine On

RewriteBase /csbe/



# If the request is not an existing file or directory

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d



# Redirect everything to index.php

RewriteRule ^(.*)$ index.php/$1 [L]

